<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*\\PriceCompareTests\.dll$</ModulePath>
                <ModulePath>.*\\PriceCompareData\.Migrations\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>

            <Sources>
              <Exclude>
                <Source>.*\\tests\\.*</Source>
                <Source>.*\\Migrations\\.*</Source>
              </Exclude>
            </Sources>

            <Attributes>
              <Exclude>
                <Attribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</Attribute>
              </Exclude>
            </Attributes>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
